
body {
    max-width: 600px;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    max-width:100%;
    margin:auto;
}
#headerimg {
    border-radius: 20px 20px 0px 0px ;
    padding:0px;
    max-width:100%;
    margin:auto;
}

main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px  60px 3fr;
}

#background {
    border-radius: 0px 0px 20px 20px  ;
    padding: 0px;
    margin-top:-10px;
    max-width: 100%;
    z-index:-1
}
#backgrounddiv{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end:4;
    z-index:-1
}

main{
    margin:auto;
    max-width: 600px;
}

.content{
    font-size: 1.5em;
    text-align: center;
    padding-left:.5em;
    padding-right:.5em;
}
#formHome{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end:1;
    z-index: 2;
}
#tasks {
    /* border-style:dotted;
    border-color: blue; */
    max-width:100%;
    margin:0px;
    padding:0px;
    font-size:1.5em;
    font-style: italic;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end:4;
    z-index:2;
}
#input{
    /* display:grid;
    grid-template-columns: 3fr 1fr; */
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin:5px;
    padding:5px;
    max-width: 100%;

}
input[type=text] {
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    text-align: center;
    padding:.5em;
    max-width:100%;
    flex-grow: 1;
}

#addTaskButton{
    height:3em;
    margin:10px
    
}
.hidden{
    display:none;
    transition: 2s
}

li {
    list-style: none;
}

#tasks li{
    grid-row:3;
    z-index:2;
    cursor: pointer;
    margin:10px;
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    
}
#tasks li span{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    
}
#filter{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end:3;
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#filter img{
    margin:10px;
    height:3em;
}



/*from w3schools */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -15px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }