body {
    max-width:600px;
    margin:auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    border-bottom: 1.5px solid rgb(37, 37, 37); 
    /* padding-bottom: 25px;  */
    /* padding-top: 30px;  */
    font-family: sans-serif;
    text-align: center; 
    font-size: 3em;
}

h2 {
    font-size:2.5em;
}



  
#cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: center;
    border-style: solid;
    border-radius: 20px;
    overflow: hidden;
    max-width: 80%;
    /* position: relative; */
    margin: auto;
  }

#cards div{
    display:flex;
    overflow: hidden;
    justify-content: right;
}

#audioButton {
    align-items: center;
    align-content: center;
}


.placeholder {
    border-style: solid;
    border-radius: 20px;
    overflow: hidden;
    max-width:100%;
}

#images{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 0px;
    max-width:80%;
    align-items: center;
    text-align: center;
    align-content: center;
    /* border-style: solid;
    border-radius: 20px; */
    overflow: hidden;
    /* position: relative; */
    margin: auto;
    /*margin-top:1em;*/
    padding:0;
}

#images div {
    max-width:100%;
    /*margin-bottom:-50px;*/
    
}


img {
    max-width:100%;
}

.correct{
    transition: all .1s ease;
    border-color: green;
    border-width: 5px;
}

.incorrect{
    transition: all .1s ease;
    border-color: red;
    border-width: 5px;
}